html {
  background-color: light gray;
  font-family: Arial;
}

main {
  max-width: 960px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
body {
  margin: 0;
  padding: 0;
  border:
}
nav {
  display: flex;

  }
header {
  margin:
  padding:
  border:
}
footer {
  margin:
  padding:
  border:
}

table {
  width: 100%;
  border-collapse: collapse;
